//select {
//  background-color: #fff;
//}
//.griddle-body .table tbody div.griddle-page select {
//  display: block;
//}
//
//[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
//  left: inherit;
//  opacity: 50;
//  position: inherit;
//}

//.griddle-page select {
//  display: block;
//}