.FontFormat .input-field label.mediumFont, .FontFormat span.mediumFont {
  font-size: 1.2em; }

.gridBtmMargin {
  margin-bottom: 30px; }

.input-field select.selectFont {
  font-size: 1rem;
  height: auto;
  width: auto; }

.input-field label.active:not(.label-icon) {
  font-size: 1.2em;
  padding-top: 10px; }

.sweet-alert button {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.sweet-alert button[style] {
  margin: 0px auto !important; }

a.cursorHand {
  cursor: pointer; }

.bgWithBorder {
  background-color: #eee; }

.PdiHyundai .container .noMarginPadding {
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 663px) {
  .PdiHyundai .container.vehSchematic {
    width: 100%; } }

/*# sourceMappingURL=fontFormat.css.map */
