.FontFormat {
  .input-field label.mediumFont, span.mediumFont {
    font-size: 1.2em;
  }
}

.gridBtmMargin {
  margin-bottom: 30px;
}

.input-field select.selectFont {
  font-size:1rem;
  height:auto;
  width: auto;
}

.input-field label.active:not(.label-icon) {
  font-size: 1.2em;
  padding-top: 10px;
}

.sweet-alert button {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.sweet-alert button[style] {
  margin:0px auto !important;
}
a.cursorHand {
  cursor: pointer;
}
.bgWithBorder {
  //border-bottom:1px solid #5f6060;
  background-color: #eee;
}

.PdiHyundai .container .noMarginPadding {
  margin:0;
  padding:0;
}

@media only screen and (min-width: 663px) {
  .PdiHyundai .container.vehSchematic {
    //margin: 0;
    //padding:0;
    width: 100%;
  }
}

.ifContentExistShowBg {
  //background-color: red;
}

// use this if font formating is required for 600px media devices

// @media only screen and (max-width: 600px) {}