

/* label focus color */
.input-field input[type=text]:focus + label, .input-field textarea.materialize-textarea:focus:not([readonly])+label {
  color: #1e88e5;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field textarea.materialize-textarea:focus {
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}

.btn {
  margin-left:20px;
}
